.container {
  background-color: aliceblue;
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    width: 100vw;
    height: 500px;
    box-shadow: 10px 10px 28px 0px rgba(240, 229, 229, 0.75);
    -webkit-box-shadow: 10px 10px 28px 0px rgba(240, 229, 229, 0.75);
    -moz-box-shadow: 10px 10px 28px 0px rgba(240, 229, 229, 0.75);
    position: relative;
    left: 0;
    top: 0;
    width: auto;

    .form__input {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
      width: 400px;
      height: 30px;
      margin-top: 10px;
      border: none;
      background-color: lightcyan;
      padding: 5px;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: black;
        color: white;
      }
    }
    .btn1 {
      margin-top: 100px;
      background-color: rgb(182, 68, 68);
      padding: 10px;
      padding-left: 10px;
      padding-right: 20px;
      color: black;
      border-radius: 10px;
      width: 250px;
      border: none;
      font-size: 20px;
      margin-left: 40rem;
      text-align: center;
      &:focus {
        outline: none;
      }
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}
